body{
  background-color: black;
  color: white;
}

.fightersContainer {
  display: flex;
  gap: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px;
}

.fighters {
  display: flex;
  flex-direction: column;
}

.fighters ul{
  display: flex;
  flex-direction: column;
}